.semaforo{
    display:flex;
    flex-direction: column;
    background-color: black;
    width: 65px;
    align-items: center;
    padding: 7px;

}


.redColor {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;

}

.orangeColor {
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 50%;
}

.greenColor {
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
}
.shine{
    box-shadow:0 0 20px 10px white ;
}